@charset "utf-8";
.card.col-md-12 .card-body .btn.btn-primary {
    background-color: #014E62;
}
.card.col-md-12 .card-body .btn.btn-primary {
    background-color: #000000;
    color: #F4CB0B;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #000000;
    color: #FAC909;
}
.sub_page h3 b {
    color: #014E62;
}
.card.col-md-12 .card-body .card-title {
    color: #FAAA8C;
}
.card.col-md-12 .card-body .btn.btn-primary {
    color: #014E62;
    background-color: #FAAA8C;
}
.card.col-md-12 .card-body .btn.btn-primary {
    background-color: #014E62;
    color: #FFFFFF;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #014E62;
    color: #FFFFFF;
}
.card.col-md-4.col-lg-12 .card-body .card-title {
    color: #FAAA8C;
}
