body {
  font-family: "Poppins",
 sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container img {
  max-width: 50px;
}

.heading_container h2 {
  font-weight: bold;
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 88%;
  background-image: url(../images/hero-bg2.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #FAAA8C;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 65px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}


/*Login/register*/

.login-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 16px;
  background-color: #014E62;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  
}

.login-container button:hover {
  background-color: transparent; 
  border: 1px solid #014E62; 
  color: #014E62;
  padding: 8px 12px;

}

.login-container #reg{
  margin-right: 100px;
}

/* Login Form Popup */
.login-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.login-form-overlay:target {
  visibility: visible;
  opacity: 1;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}


/* Register Form Popup */
.register-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.register-form-overlay:target {
  visibility: visible;
  opacity: 1;
}

.register-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}



/*end_Login/register*/


.login-container {
  margin-top: 20px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 22px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: #5392A0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}


/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;
  border-right: 2px solid #FAAA8C;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  color: #010001;
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
}

.slider_section .detail-box h1 span {
  color: #FAAA8C;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -5px 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #014E62;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #014E62;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #014E62;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #FAAA8C;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FAAA8C;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #FAAA8C;
}

.slider_section .img-box img {
  max-width: 100%;
  
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #FAAA8C;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color: #FAAA8C;
  border-radius: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.about_section .detail-box {
  text-align: center;
  width: 80%;
  margin: auto;
}

.about_section .detail-box .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about_section .detail-box .heading_container h2 {
  color: #151515;
}

.about_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.about_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.about_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAAA8C;
  text-transform: uppercase;
}

.about_section .detail-box .btn-box a img {
  margin-left: 5px;
}


@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.pet_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pet_section .img-box {
  position: relative;
  padding-right: 45px;
}

.pet_section .img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.pet_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -145px;
  width: 100%;
  height: 110%;
  z-index: 1;
  background-repeat: no-repeat;
}

.pet_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.pet_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.pet_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAAA8C;
  text-transform: uppercase;
}

.pet_section .detail-box .btn-box a img {
  margin-left: 5px;
}


@-webkit-keyframes border-dance {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 300px 0px;
  }
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 300px 0px;
  }
}



.client_section {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.client_section #carouselExampleControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.client_section .box .img-box {
  margin-right: 25px;
  min-width: 250px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box h4 {
  text-transform: uppercase;
  font-size: 24px;
}

.client_section .box .detail-box img {
  width: 25px;
}

.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .carousel_btn-box .carousel-control-prev,
.client_section .carousel_btn-box .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  background-color: #FAAA8C;
  opacity: 1;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 3px;
}

.client_section .carousel_btn-box .carousel-control-prev:hover,
.client_section .carousel_btn-box .carousel-control-next:hover {
  background-color: #000000;
}

.client_section .carousel_btn-box .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.client_section .carousel_btn-box .carousel-control-next {
  background-image: url(../images/next.png);
}


.info_section {
  background-color: #014E62;
  color: #ffffff;
  padding: 40px 0 75px 0;
  font-family: "Open Sans",
 sans-serif;
}

.info_section .row > div {
  margin-top: 35px;
}

.info_section h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.info_time p {
  text-transform: uppercase;
}


.info_social .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_social .social_container a {
  margin: 0 5px;
}

.info_social .social_container a img {
  width: 35px;
}

.info_contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.info_contact > div img {
  height: auto;
  margin-right: 12px;
}

.info_contact > div p {
  margin: 0;
}

.nsbmlogo {
  float: left;
  margin-right: 50px;
} 


/*User Log in*/
@import url('https://fonts.googleapis.com/css?family=Poppins');



.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}



h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #5392A0;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


/*User Log in*/

/* Contact Us*/
.linkbutton a{
  font-weight: bold;
  color: whitesmoke;
  font-size:20px;
}

.linkbutton{
  background-color: #0b8ffe;
  border-radius: 50px;
}

.cusection .body{
  background-image:url(/images/pet.jpg);
}



.cusection {

  position: relative;
  text-align: center;

}
.cusection img {
  min-width: 100%;
  min-height: 100%;

}
.cusection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 80px;
   background-color: rgba(0, 32, 60, 0.44);
}
.cusection .overlay h2 {
text-transform: uppercase;
font-size: 35px
}
.cusection .overlay p {
  color: #cccccc !important;
}
.cusection .overlay .social {
  margin-top: 40px;
  
}
.cusection .overlay .social i {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  line-height: 55px;
  font-size: 25px;
  transition: .5s ease;
  margin-right: 5px;
}
.cusection .overlay .social i:last-child {
  margin-right: 0;
}
.cusection .overlay .social i:hover {
  border-color: #0b8ffe;
  cursor: pointer;
  box-shadow: 0 0 20px #0b8ffe;
  transform: scale(1.2)
}
.cusection .overlay form {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.cusection .overlay form input {
  height: 40px;
  background-color: transparent;
  padding: 5px 0px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
color: #fff;
}
.cusection .overlay form textarea {
  background-color: transparent;
  padding: 5px 0px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
color: #fff;
}
.cusection .overlay form input:focus,.cusection .overlay form textarea:focus {
  border-bottom-color: #0b8ffe;
  box-shadow: 0px 0px 20px rgba(11, 143, 254, 0.42);
}
.cusection .overlay form input::-webkit-input-placeholder,
.cusection .overlay form textarea::-webkit-input-placeholder {
  color: #e8e8e8;
  text-transform: capitalize;
}
.cusection .overlay form [name="name"],
.cusection .overlay form [name="email"],
.cusection .overlay form [name="phone"] {
  width: 31%;
}
.cusection .overlay form [name="website"],
.cusection .overlay form [name="subject"] {
  width: 48%;
  margin-bottom: 80px;
}
.cusection .overlay form button {
  background-color: transparent;
  padding: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  color: #fff;
  text-transform: uppercase;
  transition: 1s ease;
  overflow: hidden;
}
.cusection .overlay form button:hover {
  color: #0b8ffe;
  border-color: #0b8ffe;
  box-shadow: 0 0 20px #0b8ffe;
cursor: pointer
}
.cusection .overlay form button:hover div {
  transform: scale(2) translateX(200px);
  transition: 1s ease-in-out;
  color: transparent;
}





@media only screen and (max-width: 575px) {
  .cusection .overlay {
      padding-top: 40px;
  }
  .cusection .overlay .social {
      margin-top: 30px;        
      
  }
  .cusection .overlay .social i {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
  }
  .cusection .overlay form {
      width: 90%;
      margin: 40px auto 0;
      flex-direction: column;
      align-items: center;
  }
  .cusection .overlay form input {
      width: 95% !important;
      margin-bottom: 15px !important;
  }
  .cusection .overlay form textarea {
      width: 95%;
      margin-top: 15px;
  }
  .cusection .overlay form button {
      width: 95%;
  }
}


@media (min-width: 576px) and (max-width: 991px) {
  
  .cusection .overlay form {
      width: 90%;
      margin: 60px auto 0;
  }
  .cusection .overlay form [name="name"],
  .cusection .overlay form [name="email"] {
      width: 48%;
  }
  .cusection .overlay form [name="phone"],
  .cusection .overlay form [name="website"] {
      width: 48%;
      margin-bottom: 30px;
  }
  .cusection .overlay form [name="subject"] {
      width: 100%;
  }
  
}

/* End Contact US */

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FAAA8C;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}

/* end footer section*/
